/*
Sarah Howard
CSC 235
Project 1
styles.css
2022-03-20

contents-----
  imported styles
  base styles
  nav styles
  container/grid styles
  typography
  link and button styles
  multimedia styles
  table styles
  form styles
  helper classes
  media queries
*/
/* ||  ------------------------------------------------------------ */



/* || imported styles ------------------------------------------------------------ */

@import url("normalize.css"); /* TODO(Sarah) move to html */


/* || base styles ------------------------------------------------------------ */

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


/* || nav styles - should this have own or be in container ------------------------------------------------------------ */


/* || container/grid styles ------------------------------------------------------------ */

body {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.pageWrapper {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

/* || typography ------------------------------------------------------------ */
h1 {
  color: slateblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h2 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(179, 75, 144);
  font-size: 1.5rem;
}

/* || link and button styles ------------------------------------------------------------ */

#btndelete {
  background-color: rgb(128, 12, 12);
}

/* || multimedia styles ------------------------------------------------------------ */


/* || form styles ------------------------------------------------------------ */

/* remove fieldset default styling */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  padding-left: 1rem;
}
input[type="submit"] {
  background-color: slateblue;
  color:white;
  padding: .5rem;
  border-radius: 10px;
  border-style: none;
}
legend {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  color:rgb(179, 75, 144);
  padding-top: 1rem;
}


/* || table styles ------------------------------------------------------------ */

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

/* || helper classes ------------------------------------------------------------ */

/* skip to main content link */
#skipNav {
  margin: 0 auto;
  position: absolute;
  top: .5em;
  left: .5em;
  padding: 8px;
  transform: translateY(-200%);
  transition: transform 0.3s;
  z-index: 1000;
  background-color: white;
  color: black;
  border: 2px solid black;
}
#skipNav:focus {
  transform: translateY(0%);
}

/* || media queries ------------------------------------------------------------ */